<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyle.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="NAME"
            android:value="Kyle" />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".LifecycleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />
        <activity android:name="com.kyle.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LooperViewPagerActivity" />
        <activity android:name=".DataBindingActivity" />
        <activity
            android:name=".ReadMoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ScrollerTestActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".ViewLayoutActivity" />
        <activity android:name=".MenuPopActivity" />
        <activity android:name=".PermissionActivity" />
        <activity android:name=".MyWebViewActivity" />
        <activity android:name=".AnimatorActivity" />
        <activity android:name=".InputNumActivity" />
        <activity android:name=".ViewLifecycleActivity" />
        <activity
            android:name=".WindowActivity"
            android:theme="@style/WindowTheme" />
        <activity android:name=".TextPathActivity"></activity>

        <activity
            android:name=".FragmentAddActivity"
            android:exported="true" />
    </application>

</manifest>